# Entorno virtual
venv/

# Variables de entorno
.env

# Logs
logs/
*.log

# Datos generados
data/raw/
data/processed/
data/exports/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter checkpoints
.ipynb_checkpoints/

# Power BI temp
*.pbix.lock